---
title: Why?!
---

# Why...

<div>
	<%= Katex.render 'c = \\pm\\sqrt{a^2 + b^2}' %>
</div>

Everything is fine.

<!-- <canvas></canvas> -->

<!-- <div id="js_canvas"></div> -->

Nothing is ever good enough.
